<!doctype html>
<html lang="en">
   
<head>
<title>Ad-poc</title>
<style>
    body {
        font-family: Avenir, Helv, Sans;
        font-weight: 200;
    }
    .red {
        color: rgb(255, 100, 150);    
    }
    .blue {
        color: rgb(150, 100, 255);
    }
    a {
        font-weight: 700;
    }
</style>
</head>
<body>

  <h1>Ad-poc</h1>
  <p><strong>An ad-hoc solution to an ad-poc problem</strong></p>
  
  <hr />
  
  <form action="/decode" method="post">
      <p>Pocket URLs:</p>
      <textarea rows="20" cols="80" name="freeform_urls">          

&lt;snip&gt;
...
rb account
-        https://app.getpocket.com/read/1742064365
-        https://app.getpocket.com/read/1627707056
-        https://app.getpocket.com/read/1678376461
-        https://app.getpocket.com/read/1557946198
-        https://app.getpocket.com/read/977287363
...

pp account
-        https://app.getpocket.com/read/1273818033
-        https://app.getpocket.com/read/2082336774
-        https://app.getpocket.com/read/1073536606
-        https://app.getpocket.com/read/317394690
-        https://app.getpocket.com/read/755446678
-        https://app.getpocket.com/read/2248620332
...

&lt;/snip&gt;
These should exist in your Pocket. The text will get put a pretty inflexible regex matching 
"https...app.getpocket.com.read.(\d+)"

      </textarea>
      <p><input type="submit" /></p>
      
  </form>
  
      
</body>
</html>